{% load static %}
{% load crispy_forms_tags %}

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>
        {% block title %}
        {% endblock %}
    </title>


</head>

<body>
<style>html,
body {
  padding: 0;
  margin: 0;

}

.background {
  position: absolute;
  display: block;
  height:cover;

  top: 0;
  left: 0;
  z-index: -1;
}

.container-personal {
padding:10px;
	width: 50%;
	position: relative;
	left: 24%;
	text-align: center;
}

.container-form {
    padding:5px;
	width: 40%;
	position: relative;
	left: 30%;
	text-align: center;
}

h1 {
	font-weight: 300;
}

h3 {
	color: #eee;
	font-weight: 100;
}

h5 {
	color:#eee;
	font-weight:300;
}

a,
a:hover {
	text-decoration: none;
	color: #ddd;
}

#footer {

width:100%;
	text-align: center;
}

</style>

<div id="particles-js"></div>
<div id="page-wrapper">
    {% block content %}
    <h1>EasyRef</h1>
    <p> This is EasyRef, where you can get citing from DOI!</p>
    {% endblock %}
<div id="footer" style="background: linear-gradient(to right, #F6EFD2, #CEAD78);">

    </div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>window.onload = function() {
  var particles = Particles.init({
	selector: '.background',
  color: ['#DA0463', '#404B69'],
  connectParticles: true,
  responsive: [{
  	breakpoint: 1500,
    options: {
    	color: '#00C9B1',
    	maxParticles: 200,
      connectParticles: false
    }
  }]
})};</script>
<script src="{% static 'particles.js-master/dist/particles.min.js' %}"></script>
<canvas class="background" style="background: linear-gradient(to right, #F6EFD2, #CEAD78);background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;"></canvas>
</body>

</html>