{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block title %}
Easy Ref
{% endblock %}
{% block content %}
<div class="container-personal" align="center">
    <p class="text-center"><font size="6">DISCLAIMER</font></p>

    <p class="text-center"><font size="6">You should check obtained data because of problems with various symbols in titles, authors names etc.</font></p>
</div>
<div class="container-title" >
    <h1 class="title" align="center">Welcome to EasyRef.β! </h1>
</div>

<div class="container-form">

    <form method="post">
        {% csrf_token %}
        <label for="DOI">Enter DOI</label>
        <div id='DOI' class="form-group">
            {{ form.doi|as_crispy_field }}
        </div>
        <label for="formate">Choose journal style</label>
        <div id="formate" class="form-group">
            {{ form.formate|as_crispy_field }}
        </div>
            <button type="submit" name="btnform1" class="btn btn-primary my-1" >Download</button>


    </form>

</div>


<!--    <a href="files/''" download>-->

<!--    </a>-->


<div class="container-personal">
    <font size="5">EasyRef contains bibliographic data of several scientific journals published by ACS, RSC, Sciencedirect, Wiley, and there will be much more!</font>
</div>


<div class="container-form">
    <form method="post">
        {% csrf_token %}
        <div id='email' class="form-group">
            <label for="email">Enter name or email</label>
            {{form2.name|as_crispy_field}}
        </div>
        <div id="suggestion" class="form-group">
            <label for="suggestion">Suggest improvements for EasyRef or tell your opinion</label>
            {{form2.suggestion|as_crispy_field}}
        </div>
        <button type="submit" name="btnform2" class="btn btn-secondary my-1" >Submit</button>

    </form>
</div>


{% endblock %}